{% include 'header2.html' %}
<div class="content-wrapper">
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 align="center" class="m-0"><font color="navy" face="tahoma"> DATA PREPROCESSING </font></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-navy card-outline">
              <div class="card-body">
                <h1 class="card-title"><b>Case Folding</b></h1>
                <p class="card-text">
                  Case folding dilakukan untuk mengubah seluruh huruf yang terdapat pada dataset ke dalam 
                  bentuk huruf kecil (lowercase).
                </p>
                <div class="card-footer clearfix">
                  <table class="table table-bordered" style="table-layout: fixed;">
                    <thead>
                      <tr>
                        <th style="width: 6%;">No.</th>
                        <th style="width: 46%;">Komentar</th>
                        <th style="width: 46%;">Hasil Case Folding</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rs in data %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ rs.0 }}</td>
                        <td>{{ rs.1 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
{% include 'footer2.html' %}
