


{% include 'header2.html' %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card card-navy card-outline">
                  <br><h3 align="center"><font color="navy" face="arial"> Analisis Sentimen Pada Komentar Pendek 
                    Tentang Idol Group BTS Dengan 
                   </font></h3>
                  <h3 align="center"><font color="navy" face="arial"> 
                    Metode Support Vector Machine dan Query Expansion </font></h3>
                  <!-- <h8 align="center"><font face="arial" color="grey">(Studi Kasus : BTS sebagai Brand Ambassador Tokopedia)</font></h8> -->
                <!-- <br></br> -->
                <p align="center">
                  <img src="{{ url_for('static', filename='dist/img/ui_2.png') }}" width="580">
                </p>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
</aside>
<!-- {% include 'footer2.html' %} -->
