{% include 'header2.html' %}

<script>
  $(document).ready(function() {
    var btn_kirim = $('#btnanalisis').on('click',function(){          
        var x = document.getElementById("myInput").value;
        $('#hasilanalisis').show();
        $('#loading_div').show()
        $('#analisis').hide();
        x ='proses.php?text='+x;
        console.log(x);
        $.get(x,function(data,status){
          var hasil = JSON.parse(data);

          $('#loading_div').hide()
          console.log(hasil.status)
          $('#test').text(hasil.status)
          $('#case_folding').text(hasil.case_folding);
          $('#remove_punct').text(hasil.remove_punct);
          $('#remove_num').text(hasil.remove_num);
          $('#slangword').text(hasil.slangword);
          $('#hasil_token').text(hasil.hasil_token);
          $('#remove_stop_words').text(hasil.remove_stop_words);
          $('#stemming').text(hasil.stemming);
          $('#text_final').text(hasil.text_final);
          $('#prediksisvm').text(hasil.prediksisvm);
          $('#probabilitassvm').text(hasil.probabilitassvm);
          $("#loading_div").hide();
          $('#klasifikasidatauji2').show();

        });
      });
    }); 

</script>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 align="center" class="m-0"><font color="green" face="arial"> KLASIFIKASI DATA UJI </font></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-green card-outline">
            <div class="card-body">
              <h1 class="card-title"><b>Input Data</b></h1>
              <p class="card-text">
                Input data yang ingin diketahui nilai sentimennya.
                <div class="form-group">
                  <label>Masukkan Kalimat</label>
                  <textarea class="form-control" rows="3" id="myInput" name="analisis" placeholder="BTS keren ..."></textarea>
                  <!-- <input type="text" id="myInput" name="input_ulasan" class="form-control"> -->
                </div>
                  <!-- <button type="submit" class="btn bg-success btn-sm">Submit</button> -->
                  <input type="button" id="analisis" name="analisis" class="btn btn-success py-2 px-10" value="Analisis" data-toggle="modal" data-target="#hasilanalisis">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" role="dialog" tabindex="-1" id="hasilanalisis">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><font face="arial">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Hasil Preprocessing dan Klasifikasi</font></h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                    <div class="modal-body">
                      <form method="POST" enctype="multipart/form-data">
                        
                        <div style="text-align: center;" id="loading_div"> 
                            <h5><font face="arial"> Loading .... </font></h5><br>
                            <center>
                              <div class="loader"> 
                              </div>
                            </center>
                        </div>
                      <div style="border: 1px solid rgb(204, 204, 204); padding: 10px; overflow: auto; width: 470px; height: 450px;background-color: rgb(255, 255, 255);">
                        <div id="analisis" style=" display: none;" class="form-group">
                          <small style="font-weight: bold;">Data Awal : </small><br>
                          <small  {{ kalimat }} id="test"></small><br>
                          <small style="font-weight: bold;">Case Folding : </small><br>
                          <small id="case_folding"></small><br>
                          <small style="font-weight: bold;">Remove Punctuation : </small><br>
                          <small id="remove_punct"></small><br>
                          <small style="font-weight: bold;">Remove Number : </small><br>
                          <small id="remove_num"></small><br>
                          <small style="font-weight: bold;">Slangword : </small><br>
                          <small id="slangword"></small><br>
                          <small style="font-weight: bold;">Tokenizing : </small><br>
                          <small id="hasil_token"></small><br>
                          <small style="font-weight: bold;">Stopword :</small><br>
                          <small id="remove_stop_words"></small><br>
                          <small style="font-weight: bold;">Stemming :</small><br>
                          <small id="stemming"></small><br>
                          <small style="font-weight: bold;">Hasil Preprocessing :</small><br>
                          <small id="text_final"></small><br>
                          <small style="font-weight: bold;">Prediksi Sentimen SVM :</small><br>
                          <small id="prediksisvm"></small><br>
                          <small style="font-weight: bold;">Probabilitas Sentimen SVM :</small><br>
                          <small id="probabilitassvm" style="white-space: pre-line"></small><br>
                          <br>
                        </div>
                      </div>
                      </form>
                    </div>
              </div>
            </div>
          </div>
<aside class="control-sidebar control-sidebar-dark">
  <div class="p-3">
    <h5>Title</h5>
    <p>Sidebar content</p>
  </div>
</aside>

{% include 'footer2.html' %}