{% include 'header.html' %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> DATA PREPROCESSING </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <h1 class="card-title">Stemming</h1>
              <p class="card-text">
                Stemming dilakukan untuk menghilangkan seluruh imbuhan yang terdapat pada dataset.
              </p>
              <div class="card-footer clearfix">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">No.</th>
                      <th>Komentar</th>
                      <th>Hasil Stemming</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rs in data %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ rs.0 }}</td>
                      <td>{{ rs.1 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
  <div class="p-3">
    <h5>Title</h5>
    <p>Sidebar content</p>
  </div>
</aside>

{% include 'footer.html' %}